.page
  margin 20px

.bordered-table
  width 100%
  th
  td
    padding 5px 10px
  th
    font-style italic
    border-bottom 1px solid black
  tr:nth-child(even)
    background-color gray-lighter-color
  tbody tr:hover
    background-color yellow-color
