.map-container
  .map.js-map
    //- Rendered client-side

.form-container
  form.stacked-form.js-form
    if city._id
      input( type='hidden', name='_id', value= city._id )

    label.avant-garde-form-label( for='name' )
      | Name
    input.bordered-input( name='name', placeholder='Name', required, value= city.name )

    label.avant-garde-form-label( for='sort_key' )
      | Sort Key
    input.bordered-input( name='sort_key', placeholder='Sort Key', required, value= city.sort_key )

    label.avant-garde-form-label( for='coordinates' )
      | Coordinates
    textarea.bordered-input( name='coordinates', rows='10' required, placeholder='Coordinates' )
      = JSON.stringify(city.coordinates, undefined, 2)

    button.avant-garde-button-black.js-save
      | Save
